.cover_board {
    margin-top: 10px;
}
.cover_board .board {
    width: 80%;
    margin: 0 auto;
}
.board span {
    text-align: center;
    cursor: pointer;
}
.board a {
    text-decoration: none;
    color: #0b0b0b;
}
.cover_board button {
    color: #fff;
    font-size: 16px;
    background-color: black;
    margin-top: 20px;
    border-radius: 10px;
    width: 20%;
}
.cover_board button:hover {
    background-color: black;
    cursor: pointer;
    transform: translate(0, 0.25em);
    &::before {
        box-shadow: 0 0 0 2px --pink-border, 0 0.5em 0 0 --pink-shadow;
        transform: translate3d(0, 0.5em, -1em);
    }
}
